snippet fkfor "my for ( ; ; ;){ ...  }"
for (${1:}; ${2:}; ${3:}) {
    ${4:}
}
endsnippet

snippet fknew "include and main" b
#include <stdio.h>

int main(void) {
    $0

    return 0;
}
endsnippet

snippet fkin "#include <*.h>" b
#include <${0:string}.h>
endsnippet

snippet fkde "#define ..." b
#define $0
endsnippet

